/* Element Selectors */
body {
    font-family: "Open Sans", sans-serif;
  }

h1 {
    text-align: center;
    background-color: rgba(100, 149, 237, .75);
    color: white;
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

h2 {
    font-style: italic;
    font-weight: bold;
}

h3 {
    text-align: center;
}

table {
    border: 1px solid black;
    width: 400px;
}

table thead td {
    border-bottom: 1px solid black;
    font-weight: bold;
}

table tbody {
    counter-reset: row-num;
}

table tbody tr {
    counter-increment: row-num;
}

table tbody tr td:first-child::before {
    content: counter(row-num) ". ";
}

/* ID Selectors */
#banner {
    position: relative;
    height: 125px;
    border: 1px solid black;
    background: url("	https://content.codecademy.com/courses/freelance-1/unit-6/banner.png") center center no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
}

#banner::before { /* Color Overlay */
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 149, 237, .75);
}

#banner * { /* Makes elements display above overlay */
    position: relative;
}


/* Class Selectors */
.center {
    margin: 0 auto;
}